
@model PasteBookEntityFramework.USER

@section Login{

        <ul class="nav navbar-nav">

            <li class="nav-item login">
               Welcome @Model.USER_NAME !
            </li>
            <li class="nav-item login">
                <input class="form-control" type="text" placeholder="Search">
            </li>
            <li class="nav-item login">
                <button class="btn  btn-primary" type="submit">Search</button>
            </li>
            @*<li class="nav-item">
                @Html.ActionLink("Timeline", "Timeline", "PasteBook")
            </li>*@
            @*<li class="nav-item">
                @Html.ActionLink("Friends", "FriendsView", "PasteBook")
            </li>*@
            <li class="nav-item">
                @Html.ActionLink("Notifications", "NotificationsView", "PasteBook")
            </li>
            <li class="login">
                <button type="submit" class="btn btn-primary" id="logoutButton">Logout</button>
            </li>
        </ul>


    }


@Html.Hidden("RedirectToIndex", Url.Action("Logout", "PasteBook"))
@Html.Hidden("RedirectToHome", Url.Action("Home", "PasteBook"))
<div class="modal fade" id="logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
                <button id="sureLogOut" type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                <button id="notLogOut" type="button" class="btn btn-warning" data-dismiss="modal">CANCEL</button>

            </div>
        </div>
    </div>
</div>

<div class="container" id="accountProfile">
    @*v4-alpha.getbootstrap.com/components/modal/*@
    <div class="modal fade" id="warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>You are about to post nothing.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <div class="well well-lg">
            <img src="~/Content/images/user.png" id="userPicture" />
        </div>
        <div class="well well-lg">
            <div>
                @Html.ActionLink(Model.USER_NAME, "Profile", "PasteBook")
            </div>
            <div>
                @Html.ActionLink("View Friends List", "Friend", "PasteBook")
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading text-left">
                <span class="glyphicon glyphicon-pencil"></span>
               @Model.FIRST_NAME @Model.LAST_NAME
            </div>

            <div class="panel-body">
                @Html.TextArea("postContent", null, new { @cols = "80", @rows = "4", placeholder = "What's on your mind?", id = "postContent" })
                
            </div>

            <div class="panel-footer text-left">
                <button type="submit" class="btn btn-primary" id="addPost">POST</button>
            </div>
        </div>
    </div>

    <div class="col-md-6" id="postRefresh">
        @{
            Html.RenderAction("PostList","PasteBook");
        }
    </div>
    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var addPost = '@Url.Action("AddPost", "PasteBook")'
        var reloadPostList = '@Url.Action("PostList", "PasteBook")'
        var addComment = '@Url.Action("AddComment", "PasteBook")'

        $(document).ready(function () {
           
            $("#addPost").click(function () {
                var Content = $('#postContent').val();
                if (Content.length > 0)
                {
                    var data = {
                        postContent: $('#postContent').val()
                    }
                    $.ajax({
                        url: addPost,
                        data: data,
                        type: 'POST',
                        success: function (data) {
                            reload();
                        },
                        error: function () {
                            alert('Something went wrong.')
                        }
                    });
                }
                else {
                    $('#warning').modal('show');;
                }
               
            });

            //refresh contents of the postList partialView
            function reload() {
                $("#postRefresh").load(reloadPostList);
                $("#postContent").val("");
            };

            //addcomment
            $("#comment").click(function () {
                
                var data = {
                    postID: $(this).val(),
                    commentContent: $('#commentContent').val()
                }
                alert(data.postID + " " + data.commentContent);
                //alert(data.postID + " " + data.commentContent);
                $.ajax({
                    url: addComment,
                    data: data,
                    type: 'POST',
                    success: function (data) {
                        
                        reload();
                    },
                    error: function () {
                        alert('Something went wrong.')
                    }
                })
            });

            //logout
            //stackoverflow.com/questions/12167102/ajax-logout-redirect
            $("#logoutButton").click(function () {
                $('#logout').modal('show');
                $("#sureLogOut").click(function () {
                    var url = $("#RedirectToIndex").val();
                    location.href = url;
                });

                $("#notLogOut").click(function () {
                    var url = $("#RedirectToHome").val();
                    location.href = url;
                });

            });

        });
    </script>
}

