
@model PasteBookEntityFramework.USER

@Html.Hidden("RedirectToIndex", Url.Action("Logout", "PasteBook"))
<div class="modal fade" id="logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
                <button id="sureLogOut" type="button" class="btn btn-secondary" data-dismiss="modal">ok</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">cancel</button>

            </div>
        </div>
    </div>
</div>

<div class="container" id="accountProfile">
    @*v4-alpha.getbootstrap.com/components/modal/*@
    <div class="modal fade" id="warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>You are about to post nothing.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commentWarning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>You are about to comment nothing.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <div class="well well-lg">
            @{
                if (Model.PROFILE_PIC == null)
                {
                    <img src="~/Content/images/user.png" class="profilePicture" />
                }
                else
                {
                    var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc" class="profilePicture" />
                }
            }
        </div>
        <div class="well well-lg">
            <div class="homeButton">
                <a href="Profile/?username=@Model.USER_NAME">View Profile</a>
            </div>
            <div class="homeButton">
                @Html.ActionLink("View Friends List", "Friend", "PasteBook", null, new { @class = "btn btn-primary btnHome" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading text-left">
                <span class="glyphicon glyphicon-pencil"></span>
                @{
                    if (Model.PROFILE_PIC == null)
                    {
                        <img src="~/Content/images/user.png" class="postPicture" />
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" class="postPicture" />
                    }
                }
                @Model.FIRST_NAME @Model.LAST_NAME
            </div>

            <div class="panel-body">
                @Html.TextArea("postContent", null, new { @cols = "80", @rows = "4", placeholder = "What's on your mind?", id = "postContent", @class="form-control noresize" })

            </div>

            <div class="panel-footer text-left">
                <button type="submit" class="btn btn-primary" id="addPost">POST</button>
            </div>
        </div>
    </div>

    <div class="col-md-6" id="postRefresh">
        @{
            Html.RenderAction("PostList", "PasteBook");
        }
    </div>
</div>



@section Scripts {
  @Scripts.Render("~/bundles/jqueryval") 
    <script>
        var addPost = '@Url.Action("AddPost", "PasteBook")'
        var reloadPostList = '@Url.Action("PostList", "PasteBook")'
        var addComment = '@Url.Action("AddComment", "PasteBook")'
        var addLike = '@Url.Action("AddLike", "PasteBook")'

        $("#addPost").click(function () {
            var Content = $('#postContent').val();
            if (Content.length > 0) {
                var data = {
                    postContent: $('#postContent').val()
                }
                $.ajax({
                    url: addPost,
                    data: data,
                    type: 'POST',
                    success: function (data) {
                        reload();
                    },
                    error: function () {
                        alert('Something went wrong.')
                    }
                });
            }
            else {
                $('#warning').modal('show');;
            }

        });

        //refresh contents of the postList partialView
        function reload() {
            $("#postRefresh").load(reloadPostList);
            $("#postContent").val("");
        };

        //addcomment
        $(document).on("click", ".btn_comment", function () {
            var Content = $('#commentContent' + $(this).val()).val();
            if (Content.length > 0) {
                var data = {
                    commentContent: $('#commentContent' + $(this).val()).val(),
                    postID: $(this).val()
                }
                

                $.ajax({
                    url: addComment,
                    data: data,
                    type: 'POST',
                    success: function (data) {
                        reload();
                    },
                    error: function () {
                        alert('Something went wrong')
                    }
                });
            }
            else {
                $('#commentWarning').modal('show');
            }
            });


        //logout
        //stackoverflow.com/questions/12167102/ajax-logout-redirect
        $("#logoutButton").click(function () {
            $('#logout').modal('show');
            $("#sureLogOut").click(function () {
                var url = $("#RedirectToIndex").val();
                location.href = url;
                    $("#signUp").hide();
            });
        });

        //addLikeToPost
        $(document).on("click", ".btn_like", function () {
            var data = {
                postID: $(this).val()
            }

            $.ajax({
                url: addLike,
                data: data,
                type: 'POST',
                success: function (data) {
                    reload();
                   
                },
                error: function () {
                    alert('something went wrong')
                }
            });
        });

    </script>

}

