@model IEnumerable<PasteBookFinalProject.Models.VMPostUser>

@*@model PasteBookFinalProject.Models.VMPostUser*@

@foreach (var post in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading text-left">
            @{

                string profileOwner = "";
                string poster = "";

                foreach (var user in @post.UserList)
                {
                    if (user.ID == post.PosterID)
                    {
                        poster = user.FIRST_NAME + " " + user.LAST_NAME;
                    }
                    else if (user.ID == post.ProfileOwnerID)
                    {
                        profileOwner = user.FIRST_NAME + " " + user.LAST_NAME;
                    }

                }

                if (post.PosterID == post.ProfileOwnerID)
                {
                   @Html.Label("fullname", poster)
                }
                else
                {
                    @Html.Label("fullname", profileOwner)
                }
            }


            @Html.DisplayFor(modelItem => post.CreatedDate)
        </div>
        <div class="panel-body text-left">
            @Html.DisplayFor(modelItem => post.Content)

        </div>
        <div class="panel-footer text-left">
            <div>
                @Html.TextBox("commentContent", null, new { @class = "form-control", placeholder = "Comment here..", id = "commentContent" + @post.PostID })
            </div>
            <button type="submit" class="btn btn-primary">LIKE</button>
            <button type="button" class="btn_comment" onclick="addComment(@post.PostID)" value="@post.PostID">COMMENT</button>
        </div>
        <div>
            @{
                Html.RenderAction("CommentList", "PasteBook", new { postID = post.PostID });
            }
        </div>
    </div>
                }
