@model IEnumerable<PasteBookFinalProject.Models.VMPostUser>

@*@model PasteBookFinalProject.Models.VMPostUser*@

    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading text-left">
                @*@Model.user.FIRST_NAME @Model.user.LAST_NAME
                @item.UserList.*@

               
                @*@foreach (var user in @item.UserList)
                {

                    @Html.DisplayFor(modelItem => item.CREATED_DATE)
                    user.FIRST_NAME,
                    user.LAST_NAME
                };*@


                @Html.DisplayFor(modelItem => item.CreatedDate)
            </div>
            <div class="panel-body text-left">
                    @Html.DisplayFor(modelItem => item.Content)

            </div>
            <div class="panel-footer text-left">
                <div>
                    @Html.TextBox("commentContent", null, new { @class = "form-control", placeholder="Comment here..", id="commentContent"})
                </div>
                <button type="submit" class="btn btn-primary">LIKE</button>
                <button type="button" class="btn btn-primary" id="comment" value="@item.PostID">COMMENT</button>
            </div>
        </div>

    }

