@model PasteBookEntityFramework.USER

@section Login{
    <ul class="nav navbar-nav">
        <li class="nav-item login">
            Welcome @Model.USER_NAME !
        </li>
        <li class="nav-item login">
            <input class="form-control" type="text" placeholder="Search">
        </li>
        <li class="nav-item login">
            <button class="btn  btn-primary" type="submit">Search</button>
        </li>
        <li class="nav-item">
            @Html.ActionLink("Notifications", "NotificationsView", "PasteBook")
        </li>
        <li class="nav-item">
            @Html.ActionLink("Settings", "Settings", "PasteBook")
        </li>
        <li class="login">
            <button type="submit" class="btn btn-primary" id="logoutButton">Logout</button>
        </li>
    </ul>
}

@Html.Hidden("RedirectToIndex", Url.Action("Logout", "PasteBook"))
@Html.Hidden("RedirectToProfile", Url.Action("Profile", "PasteBook"))
<div class="modal fade" id="logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
                <button id="sureLogOut" type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                <button id="notLogOut" type="button" class="btn btn-warning" data-dismiss="modal">CANCEL</button>

            </div>
        </div>
    </div>
</div>

<div class="container" id="accountProfile">

    <div class="modal fade" id="warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>You are about to post nothing.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commentWarning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>You are about to comment nothing.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

   
    <div class="modal fade" id="editAboutMe">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    EDIT ABOUT
                </div>

                @using (Html.BeginForm("EditAboutMe", "PasteBook", FormMethod.Post, new { id = "aboutMe" }))
                {
                    <div class="modal-body">
                        @Html.TextArea("aboutMe", new { @cols = "80", @rows = "4", placeholder = "About me", @id = "aboutMe" })
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" id="saveAboutMe">SAVE</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <div class="well well-lg">
            @{
                if (Model.PROFILE_PIC == null)
                {
                    <img src="~/Content/images/user.png" class="profilePicture" />
                }
                else
                {
                    var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc" class="profilePicture" />
                }
            }
        </div>

        @using (Html.BeginForm("UploadImage", "PasteBook", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="well well-lg">
                <h4>Change Profile Picture</h4>

                <div class="wrapper">
                    <div class="col-md-12">
                        <div id="imageHolder"> </div>
                        <input id="uploadImage" title="Upload an Image" type="file" name="file" />
                    </div>
                </div>
                @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
                <div>@ViewBag.Message</div>
                @Html.ValidationMessageFor(model => model.PROFILE_PIC, "", new { @class = "text-danger" })

                <button type="submit" class="btn btn-primary" id="editProfilePicture">Save Picture</button>
            </div>
        }

        <div class="well well-lg">
            <div class="form-group">
                <h4>DETAILS</h4>
                <div>
                    <span class="glyphicon glyphicon-user">
                        FULL NAME:
                    </span>
                    @Model.FIRST_NAME @Model.LAST_NAME
                    <span class="glyphicon glyphicon-gift">
                        BIRTHDAY:
                    </span>
                    @Model.BIRTHDAY.ToShortDateString()

                    <span class="glyphicon glyphicon-calendar">
                        STARTED SINCE:
                    </span>
                    @Model.BIRTHDAY.ToShortDateString()

                    <span class="glyphicon glyphicon-envelope">
                        EMAIL:
                    </span>
                    @Model.EMAIL_ADDRESS
                </div>
            </div>

            <div class="well well-lg" id="aboutMe">
                <h4>ABOUT ME</h4>
                @Model.ABOUT_ME
            </div>
            <button type="button" class="btn btn-primary" id="editAboutME">Edit About Me</button>
        </div>
    </div>


    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading text-left">
                @Model.FIRST_NAME @Model.LAST_NAME
            </div>
            <div class="panel-body">
                @Html.TextArea("postContent", null, new { @cols = "80", @rows = "4", placeholder = "What's on your mind?", id = "postContent" })
            </div>
            <div class="panel-footer text-left">
                <button type="submit" class="btn btn-primary" id="addPost">POST</button>
            </div>
        </div>
    </div>


    <div class="col-md-6" id="postRefresh">
        @{
            Html.RenderAction("PostList", "PasteBook");
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var addPost = '@Url.Action("AddPost", "PasteBook")'
        var reloadPostList = '@Url.Action("PostList", "PasteBook")'
        var addComment = '@Url.Action("AddComment", "PasteBook")'
        var addLike = '@Url.Action("AddLike", "PasteBook")'
        var editAboutMe = '@Url.Action("EditAboutMe","PasteBook")'

        $(document).ready(function () {
            //addPost
            $("#addPost").click(function () {
                var content = $('#postContent').val();
                if (content.length > 0) {
                    var data = {
                        postContent: $('#postContent').val()
                    }
                    $.ajax({
                        url: addPost,
                        data: data,
                        type: 'POST',
                        success: function (data) {
                            reload();
                        },
                        error: function () {
                            alert('Something went wrong.')
                        }
                    });
                }
                else {
                    $('#warning').modal('show');;
                }

            });

            //refresh contents of the postList partialView
            function reload() {
                $("#postRefresh").load(reloadPostList);
                $("#postContent").val("");
            };


            //addComment
            $(document).on("click", ".btn_comment", function () {
                Content = $('#commentContent').val();
                if (Content.length > 0) {
                    var data = {
                        commentContent: $('#commentContent' + $(this).val()).val(),
                        postID: $(this).val()
                    }

                    $.ajax({
                        url: addComment,
                        data: data,
                        type: 'POST',
                        success: function (data) {
                            reload();
                        },
                        error: function () {
                            alert('Something went wrong')
                        }
                    });
                }
                else {
                    $('#commentWarning').modal('show');
                }
            });

            //Preview profile picture
            //stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
            $("#uploadImage").on('change', function () {
                if (typeof (FileReader) != "undefined") {
                    var image_holder = $("#imageHolder");
                    image_holder.empty();

                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                            "class": "thumb-image"
                        }).appendTo(image_holder);
                    }
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                } else {
                    alert("This browser does not support FileReader.");
                }
            });


            //search for validating image
            //insert validation of image here



            //addLikeToPost
            $(document).on("click", ".btn_like", function () {
                var data = {
                    postID: $(this).val()
                }

                $.ajax({
                    url: addLike,
                    data: data,
                    type: 'POST',
                    success: function (data) {
                        alert("Liked post");
                    },
                    error: function () {
                        alert('something went wrong')
                    }
                });
            });


            //logout
            //stackoverflow.com/questions/12167102/ajax-logout-redirect
            $("#logoutButton").click(function () {
                $('#logout').modal('show');
                $("#sureLogOut").click(function () {
                    var url = $("#RedirectToIndex").val();
                    location.href = url;
                })

                $("#notLogOut").click(function () {
                    var url = $("#RedirectToProfile").val();
                    location.href = url;
                    $("#signUp").hide();
                })

            })

            //edit about me
            $('#editAboutME').click(function () {
                $('#editAboutMe').modal('show');

            });


        });
    </script>
}